<a href="https://colab.research.google.com/github/Nasthl/macnine-learning-/blob/main/%5BCOLAB%5D_Copy_of_puste_UO_Podstawy_uczenia_maszynowego_Zajecia_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd


tips = pd.read_csv('https://raw.githubusercontent.com/marcin119a/PODSTAWY-UCZENIA-MASZYNOWEGO-W-PYTHONIE-/main/tips.csv')


Zbiór danych "tips" to popularny zestaw danych zawarty w bibliotece Seaborn. Zawiera informacje na temat faktur wystawionych w fikcyjnym restauracji. Zbiór składa się z kilku kolumn, które zawierają różne informacje dotyczące poszczególnych rachunków, takie jak:


* total_bill: Całkowita kwota rachunku, obejmująca opłatę za posiłek i ewentualne napiwki.
* tip: Kwota napiwku pozostawiona przez klienta.
* sex: Płeć osoby płacącej rachunek (mężczyzna lub kobieta).
* smoker: Czy osoba płacąca rachunek jest paląca (Yes - tak, No - nie).
* day: Dzień tygodnia, w którym odbył się posiłek.
* time: Czy posiłek był serwowany w porze lunchu czy kolacji.
*  size: Liczba osób przy stole.

## Zadania Grupowanie
Oto kilka zadań związanych z zbiorem danych "tips":

1. Oblicz średnią wartość rachunku dla wszystkich płci.
2. Porównaj średnią wartość napiwku dla palących i niepalących gości.
3. Sprawdź, który dzień tygodnia jest najbardziej popularny w restauracji na podstawie liczby obsłużonych gości.
4. Oblicz procentowy udział płci w całkowitej liczbie gości.
5. Znajdź dzień tygodnia, w którym goście zostawiają największe napiwki.
6. Porównaj średnią wartość rachunku dla grup o różnej liczbie osób przy stole.
7. Oblicz procentowy udział lunchu i kolacji w całkowitej liczbie posiłków.
8. Znajdź najczęściej występujący rozmiar grupy.

Te zadania pozwalają na eksplorację i analizę różnych aspektów zbioru danych "tips" i mogą dostarczyć ciekawych wniosków na temat zachowań klientów w restauracji.

W celu rozwiązania tych zadań można użyć różnych funkcji i metod dostępnych w bibliotece pandas, takich jak mean(), max(), min(), groupby(), value_counts(), sum(), oraz dodawanie nowych kolumn poprzez operator.

Oblicz średnią wartość rachunku dla wszystkich płci:

In [ ]:
tips

     index_of_row  total_bill   tip     sex smoker   day    time  size
0               0       16.99  1.01  Female     No   Sun  Dinner     2
1               1       10.34  1.66    Male     No   Sun  Dinner     3
2               2       21.01  3.50    Male     No   Sun  Dinner     3
3               3       23.68  3.31    Male     No   Sun  Dinner     2
4               4       24.59  3.61  Female     No   Sun  Dinner     4
..            ...         ...   ...     ...    ...   ...     ...   ...
239           239       29.03  5.92    Male     No   Sat  Dinner     3
240           240       27.18  2.00  Female    Yes   Sat  Dinner     2
241           241       22.67  2.00    Male    Yes   Sat  Dinner     2
242           242       17.82  1.75    Male     No   Sat  Dinner     2
243           243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 8 columns]

In [ ]:
tips.groupby('sex')['total_bill'].mean()

sex
Female    18.056897
Male      20.744076
Name: total_bill, dtype: float64

Porównaj średnią wartość napiwku dla palących i niepalących gości:

In [ ]:
tips.groupby('smoker')['tip'].mean()

smoker
No     2.991854
Yes    3.008710
Name: tip, dtype: float64

Sprawdź, który dzień tygodnia jest najbardziej popularny w restauracji na podstawie liczby obsłużonych gości:

In [ ]:
tips.groupby('day')['size'].sum().idxmax()

'Sat'

Oblicz procentowy udział płci w całkowitej liczbie gości:

In [ ]:
tips['sex'].value_counts(normalize=100)*100

Male      64.344262
Female    35.655738
Name: sex, dtype: float64

Znajdź dzień tygodnia, w którym goście zostawiają największe napiwki:

In [ ]:
tips.groupby('day')['tip'].mean().idxmax()

'Sun'

Porównaj średnią wartość rachunku dla grup o różnej liczbie osób przy stole:

In [ ]:
tips.groupby('size')['total_bill'].mean()

size
1     7.242500
2    16.448013
3    23.277632
4    28.613514
5    30.068000
6    34.830000
Name: total_bill, dtype: float64

Oblicz procentowy udział lunchu i kolacji w całkowitej liczbie posiłków:

In [ ]:
tips['time'].value_counts(normalize=100)*100

Dinner    0.721311
Lunch     0.278689
Name: time, dtype: float64

Znajdź najczęściej występujący rozmiar grupy:

In [ ]:
tips['size'].mode().values[0]

2

Zbior danych dotyczy informacje z różnych krajów, włączając w to dane takie jak:

* Kraj (Country)
* Produkt krajowy brutto na mieszkańca (GDP per capita)
* Średnia długość życia (Life expectancy)
* Populacja (Population)
* Kontynent (Continent)

Przykład danych dla kraju Lesotho jest następujący:

* Kraj: Lesotho
* Produkt krajowy brutto na mieszkańca: 2598
* Średnia długość życia: 47.1
* Populacja: 2174645
* Kontynent: Afryka (Africa)

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/marcin119a/PODSTAWY-UCZENIA-MASZYNOWEGO-W-PYTHONIE-/main/income.csv', sep=';')

df.head()

,Country,GDP per capita,Life expectancy,Population,Continent
0,Lesotho,2598,47.1,2174645,Africa
1,Central African Republic,599,49.6,4546100,Africa
2,Swaziland,6095,51.8,1319011,Africa
3,Afghanistan,1925,53.8,33736494,Asia
4,Somalia,624,54.2,13908129,Africa

Oto kilka zadań związanych z filtrowaniem danych w bibliotece pandas dla zbioru danych "Country":

1. Wyświetl informacje tylko o krajach z kontynentu Afryka (Africa).
2. Znajdź kraje, w których średnia długość życia przekracza 80 lat.
3. Wybierz kraje, których populacja jest większa niż 10 milionów.
4. Znajdź kraj o najwyższym dochodzie na mieszkańca.
5. Zidentyfikuj kraje, które mają niski dochód na mieszkańca, ale długą średnią długość życia.
6. Wybierz kraje, których populacja znajduje się w przedziale od 5 do 10 milionów.
7. Znajdź kraje, których dochód na mieszkańca jest poniżej średniej, ale mają wysoką średnią długość życia.
8. Wyświetl informacje tylko o krajach o populacji większej niż 1 milion i średniej długości życia większej niż 70 lat.
9. Znajdź kraje, które mają wysoki dochód na mieszkańca i niską populację.
10. Wybierz kraje, które znajdują się na kontynencie poza Afryką i mają dochód na mieszkańca powyżej 5000.

W celu rozwiązania tych zadań można użyć różnych funkcji i metod dostępnych w bibliotece pandas, takich jak mean(), query(), sum(), oraz dodawanie nowych kolumn poprzez operator [].

Wyświetl informacje tylko o krajach z kontynentu Afryka (Africa):

In [ ]:
#df[df['Continent']=='Africa']
df.query('Continent == "Africa"')

,Country,GDP per capita,Life expectancy,Population,Continent
0,Lesotho,2598,47.1,2174645,Africa
1,Central African Republic,599,49.6,4546100,Africa
2,Swaziland,6095,51.8,1319011,Africa
4,Somalia,624,54.2,13908129,Africa
5,Guinea-Bissau,1386,55.6,1770526,Africa
6,South Sudan,3047,56.1,11882136,Africa
7,Zambia,4034,56.7,16100587,Africa
8,Mozambique,1176,57.1,28010691,Africa
9,Sierra Leone,2085,57.1,7237025,Africa
10,Chad,2191,57.4,14009413,Africa
11,Botswana,17196,58.7,2209197,Africa
12,Guinea,1225,59.1,12091533,Africa
13,Cote d'Ivoire,3491,59.1,23108472,Africa
14,Zimbabwe,1801,59.3,15777451,Africa
15,Cameroon,2897,59.4,22834522,Africa
16,Angola,7615,59.6,27859305,Africa
17,Mali,1684,60.2,17467905,Africa
18,Malawi,799,60.5,17573607,Africa
19,"Congo, Dem. Rep.",809,60.8,76196619,Africa
20,Burkina Faso,1654,60.9,18110624,Africa
22,Niger,943,61.0,19896965,Africa
23,Equatorial Guinea,31087,61.0,1175389,Africa
24,Uganda,1680,61.3,40144870,Africa
25,South Africa,12509,61.3,55291225,Africa
26,Burundi,777,61.4,10199270,Africa
27,Togo,1433,61.5,7416802,Africa
28,"Congo, Rep.",6220,61.5,4995648,Africa
29,Benin,1830,62.3,10575952,Africa
31,Liberia,958,63.2,4499621,Africa
32,Madagascar,1400,63.5,24234088,Africa
33,Djibouti,3139,63.8,927414,Africa
35,Tanzania,2571,64.1,53879957,Africa
36,Namibia,10040,64.2,2425561,Africa
38,Nigeria,5727,64.6,181181744,Africa
40,Kenya,2898,65.1,47236259,Africa
41,Ethiopia,1520,65.2,99873033,Africa
42,Senegal,2251,65.3,14976994,Africa
43,Ghana,4099,65.3,27582821,Africa
45,Rwanda,1549,65.9,11629553,Africa
47,Gabon,18627,65.9,1930175,Africa
55,Sudan,3975,67.5,38647803,Africa
56,Sao Tome and Principe,3003,68.0,195553,Africa
58,Comoros,1472,68.1,777424,Africa
59,Gambia,1644,68.1,1977590,Africa
64,Mauritania,3877,69.7,4182341,Africa
76,Egypt,11031,71.5,93778172,Africa
96,Libya,17261,74.1,6234955,Africa
97,Seychelles,25684,74.1,93419,Africa
100,Mauritius,18350,74.5,1262605,Africa
102,Morocco,7319,74.6,34803322,Africa
124,Algeria,13434,76.4,39871528,Africa
134,Tunisia,11126,77.6,11273661,Africa

Znajdź kraje, w których średnia długość życia przekracza 80 lat:

In [ ]:
df[df['Life expectancy']>80]

,Country,GDP per capita,Life expectancy,Population,Continent
159,Costa Rica,14132,80.30,4807852,North America
160,Kuwait,82633,80.30,3935794,Asia
161,Denmark,43495,80.40,5683483,Europe
162,Belgium,41240,80.50,11274196,Europe
163,Portugal,26437,80.80,10358076,Europe
164,Germany,44053,80.80,81686611,Europe
165,"Macao, China",148374,80.82,600942,Asia
166,Slovenia,28550,80.90,2063531,Europe
167,Finland,38923,80.90,5479531,Europe
168,Greece,25430,81.00,10820883,Europe
169,South Korea,34644,81.00,51014947,Asia
170,United Kingdom,38225,81.00,65128861,Europe
171,Austria,44401,81.30,8633169,Europe
172,Netherlands,45784,81.30,16939923,Europe
173,New Zealand,34186,81.40,4595700,Australia
174,Canada,43294,81.70,35832513,North America
175,Ireland,47758,81.70,4646554,Europe
176,Cyprus,29797,81.80,1160985,Europe
177,France,37599,81.80,66624068,Europe
178,Norway,64304,82.00,5190239,Europe
179,Singapore,80794,82.00,5535002,Asia
180,Malta,30265,82.10,431874,Europe
181,Israel,31590,82.10,8380100,Asia
182,Sweden,44892,82.10,9799186,Europe
183,Italy,33297,82.20,60730582,Europe
184,Luxembourg,88314,82.20,569604,Europe
185,Australia,44056,82.30,23850784,Australia
186,Spain,32979,82.60,46444832,Europe
187,Switzerland,56118,83.00,8282396,Europe
188,Japan,36162,83.20,127141000,Asia
189,Iceland,42182,83.30,330815,Europe
190,"Hong Kong, China",53874,83.73,7291300,Asia
191,Andorra,46577,84.80,78014,Europe

Wybierz kraje, których populacja jest większa niż 10 milionów:

In [ ]:
#df[df['Population']>10000000]
df.query('Population >10000000')

         Country  GDP per capita  Life expectancy  Population  Continent
3    Afghanistan            1925             53.8    33736494       Asia
4        Somalia             624             54.2    13908129     Africa
6    South Sudan            3047             56.1    11882136     Africa
7         Zambia            4034             56.7    16100587     Africa
8     Mozambique            1176             57.1    28010691     Africa
..           ...             ...              ...         ...        ...
177       France           37599             81.8    66624068     Europe
183        Italy           33297             82.2    60730582     Europe
185    Australia           44056             82.3    23850784  Australia
186        Spain           32979             82.6    46444832     Europe
188        Japan           36162             83.2   127141000       Asia

[88 rows x 5 columns]

Znajdź kraj o najwyższym dochodzie na mieszkańca:

In [ ]:
df[df['GDP per capita']==df['GDP per capita'].max()]

          Country  GDP per capita  Life expectancy  Population Continent
165  Macao, China          148374            80.82      600942      Asia

Zidentyfikuj kraje, które mają niski dochód na mieszkańca, ale długą średnią długość życia:

In [ ]:
df[(df['GDP per capita']<df['GDP per capita'].quantile(0.4)) & (df['Life expectancy']>df['Life expectancy'].quantile(0.6)) ]

       Country  GDP per capita  Life expectancy  Population      Continent
115    Vietnam            5623             75.4    93571567           Asia
139  Nicaragua            4712             78.0     6082035  North America

Wybierz kraje, których populacja znajduje się w przedziale od 5 do 10 milionów:

In [ ]:
df[(df['Population']>=5000000) & (df['Population']<=10000000)]

,Country,GDP per capita,Life expectancy,Population,Continent
9,Sierra Leone,2085,57.10,7237025,Africa
21,Papua New Guinea,2529,60.90,7919825,Australia
27,Togo,1433,61.50,7416802,Africa
51,Lao,5212,67.10,6663967,Asia
65,Kyrgyz Republic,3245,69.80,5956900,Asia
66,Turkmenistan,15865,70.00,5565284,Asia
70,Belarus,17415,71.00,9489616,Europe
84,Tajikistan,2582,72.40,8548651,Asia
89,Azerbaijan,16986,72.90,9649341,Asia
90,Honduras,4270,73.00,8960829,North America
96,Libya,17261,74.10,6234955,Africa
98,Paraguay,8219,74.40,6639119,South America
108,Bulgaria,16371,74.80,7177991,Europe
109,El Salvador,7776,74.90,6312478,North America
117,United Arab Emirates,60749,75.40,9154302,Asia
122,Serbia,12908,76.20,7095383,Europe
128,Hungary,24200,76.70,9843028,Europe
136,Slovak Republic,27204,77.60,5423801,Europe
139,Nicaragua,4712,78.00,6082035,North America
144,Jordan,11752,78.50,9159302,Asia
149,Lebanon,17050,78.90,5851479,Asia
161,Denmark,43495,80.40,5683483,Europe
167,Finland,38923,80.90,5479531,Europe
171,Austria,44401,81.30,8633169,Europe
178,Norway,64304,82.00,5190239,Europe
179,Singapore,80794,82.00,5535002,Asia
181,Israel,31590,82.10,8380100,Asia
182,Sweden,44892,82.10,9799186,Europe
187,Switzerland,56118,83.00,8282396,Europe
190,"Hong Kong, China",53874,83.73,7291300,Asia

Znajdź kraje, których dochód na mieszkańca jest poniżej średniej, ale mają wysoką średnią długość życia:

In [ ]:
df[(df['GDP per capita']<df['GDP per capita'].mean()) & (df['Life expectancy']>df['Life expectancy'].quantile(0.5)) ]

,Country,GDP per capita,Life expectancy,Population,Continent
81,North Korea,1390,72.1,25243917,Asia
83,Timor-Leste,2086,72.4,1240977,Australia
84,Tajikistan,2582,72.4,8548651,Asia
86,Guatemala,7279,72.6,16252429,North America
87,Bhutan,7983,72.7,787386,Asia
88,Georgia,7474,72.9,3717100,Asia
89,Azerbaijan,16986,72.9,9649341,Asia
90,Honduras,4270,73.0,8960829,North America
91,Dominica,10503,73.1,73162,North America
92,Samoa,5558,73.2,193759,Australia
93,Bolivia,6295,73.2,10724705,South America
95,Moldova,4896,73.9,3554108,Europe
96,Libya,17261,74.1,6234955,Africa
98,Paraguay,8219,74.4,6639119,South America
99,Brazil,15441,74.4,205962108,South America
100,Mauritius,18350,74.5,1262605,Africa
101,West Bank and Gaza,4319,74.6,4422143,Asia
102,Morocco,7319,74.6,34803322,Africa
103,Iran,15573,74.6,79360487,Asia
104,Armenia,7763,74.7,2916950,Asia
105,Thailand,14512,74.7,68657600,Asia
106,St. Lucia,9997,74.8,177206,North America
107,Venezuela,15753,74.8,31155134,South America
108,Bulgaria,16371,74.8,7177991,Europe
109,El Salvador,7776,74.9,6312478,North America
110,Jamaica,8606,75.0,2871934,North America
113,Dominican Republic,12837,75.3,10528394,North America
115,Vietnam,5623,75.4,93571567,Asia
118,Barbados,12984,75.7,284217,North America
120,Ecuador,10996,75.9,16144368,South America
121,Mexico,16850,75.9,125890949,North America
122,Serbia,12908,76.2,7095383,Europe
123,China,13334,76.2,1371220000,Asia
124,Algeria,13434,76.4,39871528,Africa
126,"Macedonia, FYR",12547,76.5,2079308,Europe
127,Argentina,17344,76.5,43417765,South America
131,Montenegro,14833,77.2,622159,Europe
133,Sri Lanka,10624,77.6,20966000,Asia
134,Tunisia,11126,77.6,11273661,Africa
139,Nicaragua,4712,78.0,6082035,North America
140,Albania,10620,78.0,2880703,Europe
141,Colombia,12761,78.0,48228697,South America
144,Jordan,11752,78.5,9159302,Asia
148,Bosnia and Herzegovina,9833,78.9,3535961,Europe
149,Lebanon,17050,78.9,5851479,Asia
154,Peru,11903,79.5,31376671,South America
158,Maldives,14408,80.0,418403,Asia
159,Costa Rica,14132,80.3,4807852,North America

Wyświetl informacje tylko o krajach o populacji większej niż 1 milion i średniej długości życia większej niż 70 lat:

In [ ]:
df[(df['Population']>1000000) & (df['Life expectancy']>70)]

              Country  GDP per capita  Life expectancy  Population  Continent
67         Kazakhstan           23468            70.20    17544126       Asia
68         Bangladesh            3161            70.40   161200886       Asia
69        Philippines            6876            71.00   101716359       Asia
70            Belarus           17415            71.00     9489616     Europe
71             Russia           23038            71.00   144096870     Europe
..                ...             ...              ...         ...        ...
185         Australia           44056            82.30    23850784  Australia
186             Spain           32979            82.60    46444832     Europe
187       Switzerland           56118            83.00     8282396     Europe
188             Japan           36162            83.20   127141000       Asia
190  Hong Kong, China           53874            83.73     7291300       Asia

[101 rows x 5 columns]

Znajdź kraje, które mają wysoki dochód na mieszkańca i niską populację:

In [ ]:
df[(df['GDP per capita']>df['GDP per capita'].quantile(0.8)) & (df['Population']<df['Population'].quantile(0.2)) ]

,Country,GDP per capita,Life expectancy,Population,Continent
23,Equatorial Guinea,31087,61.00,1175389,Africa
119,Aruba,37138,75.72,104341,North America
130,Brunei,73003,77.10,417542,Asia
146,Bermuda,47081,78.50,65250,North America
165,"Macao, China",148374,80.82,600942,Asia
184,Luxembourg,88314,82.20,569604,Europe
189,Iceland,42182,83.30,330815,Europe
191,Andorra,46577,84.80,78014,Europe

Wybierz kraje, które znajdują się na kontynencie poza Afryką i mają dochód na mieszkańca powyżej 5000:

In [ ]:
df[(df['Continent']!='Africa') & (df['GDP per capita']>5000)]

,Country,GDP per capita,Life expectancy,Population,Continent
44,Fiji,7925,65.80,892149,Australia
49,Guyana,6816,66.80,768514,South America
51,Lao,5212,67.10,6663967,Asia
52,Mongolia,11819,67.10,2976877,Asia
53,India,5903,67.20,1309053980,Asia
...,...,...,...,...,...
187,Switzerland,56118,83.00,8282396,Europe
188,Japan,36162,83.20,127141000,Asia
189,Iceland,42182,83.30,330815,Europe
190,"Hong Kong, China",53874,83.73,7291300,Asia
191,Andorra,46577,84.80,78014,Europe

# Zadanie 3

Jest to popularny zbiór danych zawierający informacje dotyczące pasażerów na statku Titanic, który zatonął w 1912 roku. Zbiór danych "Titanic" zawiera różne kolumny, takie jak:

* Survived: Czy pasażer przeżył (0 - Nie, 1 - Tak)
* Pclass: Klasa biletu (1 - Pierwsza klasa, 2 - Druga klasa, 3 - Trzecia klasa)
* Sex: Płeć pasażera
* Age: Wiek pasażera
* SibSp: Liczba rodzeństwa/małżonków na pokładzie
* Parch: Liczba rodziców/dzieci na pokładzie
* Fare: Opłata za bilet

In [ ]:
import pandas as pd

titanic_df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Oto kilka zadań związanych z grupowaniem, filtrowaniem i operacjami agregującymi na zbiorze danych "Titanic":

1. Znajdź średni wiek pasażerów na Titaniku.
2. Oblicz najwyższą cenę biletu na Titanicu.
3. Zgrupuj pasażerów według klasy biletu (Pclass) i oblicz średnią cenę biletu dla każdej klasy.
4. Znajdź najmłodszego i najstarszego pasażera na Titaniku.
5. Wybierz pasażerów, którzy przetrwali katastrofę (Survived = 1) i mieli wiek poniżej 18 lat.
6. Oblicz sumę opłat za bilety dla pasażerów z każdego portu (Embarked).
7. Dodaj nową kolumnę o nazwie "FamilySize", która będzie sumą kolumn "SibSp" i "Parch" (liczba rodzeństwa/małżonków oraz liczba rodziców/dzieci).
8. Zgrupuj pasażerów według płci (Sex) i oblicz medianę wieku dla każdej płci.
9. Wybierz pasażerów, którzy mieli najwyższą opłatę za bilet spośród tych, którzy przeżyli (Survived = 1).

W celu rozwiązania tych zadań można użyć różnych funkcji i metod dostępnych w bibliotece pandas, takich jak mean(), max(), min(), groupby(), filter(), sum(), oraz dodawanie nowych kolumn poprzez operator [] lub funkcję query().

1. Znajdź średni wiek pasażerów na Titaniku.

In [ ]:
titanic_df['Age'].mean()

29.69911764705882

2. Oblicz najwyższą cenę biletu na Titanicu.

In [ ]:
titanic_df['Fare'].max()

512.3292

3. Zgrupuj pasażerów według klasy biletu (Pclass) i oblicz średnią cenę biletu dla każdej klasy.

In [ ]:
titanic_df.groupby('Pclass')['Fare'].mean()

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

4. Znajdź najmłodszego i najstarszego pasażera na Titaniku.

In [ ]:
titanic_df[(titanic_df['Age']==titanic_df['Age'].max()) | (titanic_df['Age']==titanic_df['Age'].min())]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.00,0,0,27042,30.0000,A23,S
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C

5. Wybierz pasażerów, którzy przetrwali katastrofę (Survived = 1) i mieli wiek poniżej 18 lat.

In [ ]:
titanic_df[(titanic_df['Survived']==1) & (titanic_df['Age']<18)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
830,831,1,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.00,1,0,2659,14.4542,NaN,C
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S
853,854,1,1,"Lines, Miss. Mary Conover",female,16.00,0,1,PC 17592,39.4000,D28,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.00,1,1,347742,11.1333,NaN,S
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.00,0,0,2667,7.2250,NaN,C

6. Oblicz sumę opłat za bilety dla pasażerów z każdego portu (Embarked).

In [ ]:
titanic_df.groupby('Embarked')['Fare'].sum()

Embarked
C    10072.2962
Q     1022.2543
S    17439.3988
Name: Fare, dtype: float64

7. Dodaj nową kolumnę o nazwie "FamilySize", która będzie sumą kolumn "SibSp" i "Parch".

In [ ]:
titanic_df['FamilySize']=titanic_df['SibSp']+titanic_df['Parch']
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0

8. Zgrupuj pasażerów według płci (Sex) i oblicz medianę wieku dla każdej płci.

In [ ]:
titanic_df.groupby('Sex')['Age'].median()

Sex
female    27.0
male      29.0
Name: Age, dtype: float64

9. Wybierz pasażerów, którzy mieli najwyższą opłatę za bilet spośród tych, którzy przeżyli (Survived = 1).

In [ ]:
titanic_df[(titanic_df['Survived']==1) & (titanic_df['Fare']>=titanic_df['Fare'].quantile(1))]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C,0
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,1
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C,0